<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Username:</label>
    <input type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
      <div *ngIf="f.username.errors.email">Username must be a valid email address</div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label>Password:</label>
    <input type="text" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <span>
      {{loginErrMsg}}
    </span>
  </div>
  <br>
  <div class="form-group">
    <label>
      <button type="submit">Login</button>
    </label>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </div>
</form>
